[submodule "themes/resume"]
	path = themes/resume
	url = https://github.com/eddiewebb/hugo-resume.git
[submodule "themes/FixIt"]
	path = themes/FixIt
	url = https://github.com/hugo-fixit/FixIt.git
